<% provide(:title, "新規登録") %>
  <div class="container">  
    <div class="row">
      <div class="mb-4">
        <div class="kioku_sessions">
          <h1>新規登録</h1>

            <%= image_tag 'petting.png', style:"width:450px;position:absolute;top:80px;right:1050px;;", class:"d-none d-md-block" %> 
            <%= image_tag 'ballet.png', style:"width:450px;position:absolute;position: absolute;top: 350px;right: -100px;", class:"d-none d-md-block" %> 
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <form>
                  <%= render "devise/shared/error_messages", resource:resource %>

                  <div class="col-md-6 offset-md-3">
                    <div class="mb-2">
                      <div class="field">
                          <%= f.label :username , class:'form-label' %>
                          <%= f.text_field :username , class: 'form-control' %>
                      </div>
                    </div>

                  <div class="mb-2">
                      <div class="field">
                        <%= f.label :email , class:'form-label' %>
                        <%= f.email_field :email , class: 'form-control'  %>
                    </div>
                  </div>

                <div class="mb-2">
                  <%= f.label :password , class:'form-label' %>
                  <p> 
                  <% if @validatable %>
                  <em>(<%= @minimum_password_length %> 最小文字数)</em>
                  <% end %>
                    <%= f.password_field :password, autocomplete: "off" , class: 'form-control'  %>
                  </p>
                </div>

                <div class="mb-4">
                  <%= f.label :password_confirmation , class:'form-label' %><br/>
                  <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control'  %>
                </div>

                    <div class="mb-3 mt-4">
                      <div class="actions">
                      <%= f.submit "登録" , class: "btn btn-outline-primary w-100" %>
                    </div>
                  </div>
                <%= render "devise/shared/links" %>
                </form>
              <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
