<% provide(:title, 'ユーザー一覧') %>
<div class="kioku_index">
  <div class="container">
    <div class="row justify-content-start">

      <% @users.each do |user| %>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="user-card">
            <div class="mb-5">
              <div class="card shadow-sm" style="width: 251px!important; border-radius: 12px;">
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" , style: "width: 250px;height: 250px;object-fit: cover; border-radius: 10px 10px 0 0;"  %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title text-center"><%= link_to user_path(user) do %><%= user.username %><% end %></h5>
                    <h6 class="card-title text-center">投稿数:<%= user.posts.count %></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <%end %>
    </div>
  </div>
</div>