<div class="contacts_new" style="margin-top: 240px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 offset-md-3">
        <table>
          <tbody>
            <tr>
              <td class="text-center mb-2 mt-2" style="width: 30%;" ><h2  style="color:#1f3466;">お名前</h2></td>
              <td class="mb-5 mt-2"><h5 style="margin-bottom: 30px;"><%= @contact.name %></h5></td>
            </tr>
            <tr>
              <td class="text-center mb-5 mt-4"><h2 style="color:#1f3466;">メッセージ</h2></td>
              <td class="mb-5 mt-5" style="white-space: pre-wrap;"><h5><%= @contact.message %></h5></td>
            </tr>
          </tbody>
        </table>

        <%= form_for(@contact) do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
            <div class="mb-4 mt-5">
            <div><%= f.submit '送信'  , class: "btn btn-outline-primary w-100" %></div>
          </div>  
        <% end %>
        <%= form_for @contact, url: back_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div class="mb-4 mt-3">
            <div><%= f.submit '入力画面に戻る'  , class: "btn btn-outline-danger w-100" %></div>
          </div>  
        <% end %>

      </div>
    </div>
  </div>
</div>