<%= @contact.name %> 様 から問い合わせがありました。<br>

<p>【Tel】:<%= @contact.phone_number %></p>

<p>【Mail】:<%= @contact.email %> </p>

<p>【用件】:<%= @contact.subject_i18n %></p>

【お問い合わせ内容】<br>
<p><span style="white-space: pre-wrap;"><%= @contact.message %></span></p>