<% provide(:title, "ログイン") %>  
    <div class="container">
      <div class="row">
        <div class="kioku_new">
          <%= image_tag 'clumsy.png', style:"width:450px;position:absolute;top:80px;right:1050px;;", class:"d-none d-md-block" %> 
          <%= image_tag 'float.png', style:"width:450px;position:absolute;top:80px;right:-250px;", class:"d-none d-md-block" %> 
              <div class="mb-4">
                <h1>ログイン</h1>
              </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="col-md-6 offset-md-3">
                  <div class="mb-4">
                    <%= f.label :email, class:'form-label' %><br/>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                  </div>

                  <div class="mb-4">
                    <%= f.label :password, class:'form-label' %><br/>
                    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="mb-4">
                      <label>
                        <%= f.check_box :remember_me %>
                        <span>次回から自動でログイン</span>
                      </label>
                    </div>

                <% end %>
                  <div class="mb-4">
                    <%= f.submit "ログイン", class: "btn btn-outline-primary w-100" %>
                  </div>
                <% end %>

                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div>